@charset "UTF8";

body {
    font: normal 0.9em sans-serif;
    margin: 0px;
}

/* TESTE FLEXBOX */

#cabecalho {
    background-color: rgb(255, 116, 116);
}

#logo_menu {
    position: relative;
    left: 55px;
}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_header_nav {
    display: flex;
    align-items: center;
    padding-right: 64px;
}

.menu_header_nav_links a {
    padding: 5px;
    text-decoration: none;
}
